.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
  }

  form{
    max-width: 400px;
    min-width: 300px;
    height: 200px ;
  }

  .campos{
    background-color: #d8e5fe;
    color: #7a87bb;
    border: #7a87bb;
  }

  body{
    background-image: url(/images/granos2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  
