.card {
    background-color: #8aa7ff;

}

.imagen{
    text-align: center;
    align-items: center;
    
}

.tamano_imagen{
    width: 192px;
    height: 192px;
}

.modal_a{
    font-size: 25px;
}

.img_cls{
    max-height: 52px;
}