.card {
    background-color: #8aa7ff;

}

.imagen{
    text-align: center;
    align-items: center;
    
}

.tamano_imagen{
    width: 192px;
    height: 192px;
}

<<<<<<< HEAD
.titulo_menu{
    font-size: 45px; 
}

.logo_mercury{
    max-height: 52px;
}

.div_container{
    min-width: 200px;
}

.card_mb{
    background-color: #d8e5fe; 
    border-color: #7a87bb;
    min-width: 300px;
    
}

.card_boton{
    background-color: #26327e;
}

.div_card{
    background-color: #d8e5fe; 
    border-color: #7a87bb;
}

.icono_product{
    color: #2972ff;
    font-size: 140px;
}

footer{
=======
.modal_a{
    font-size: 25px;
}

.img_cls{
    max-height: 52px;
}
.div_container{
    min-width: 200px;
}
.div_tarjeta{
    min-width: 200px;
}
.div_cls_mb{
    min-width: 300px; 
    background-color: #d8e5fe;
    border-color: #7a87bb;
}

.a_ventas{
    background-color: #26327e;
}

.card_div_mb{
    background-color: #d8e5fe;
    border-color: #7a87bb;
}

.i_cls{
    font-size: 140px;
    color: #2972ff
}
.css_pos{
>>>>>>> 921388469438c2a71ce96b48cad2c0fb12e579c7
    text-align: center;
}