.text-align-tabla{
    text-align: center;
}

.bg-color-azul{
    background-color: #26327e;
}

.bg-color-cerrarX{
    background-color: #7a87bb;
}

.color-h5{
    color:white;
}

.modal-input-select-undisabled{
    margin: 10px; 
    max-width: 90%; 
    border-color: #7a87bb; 
    margin-left: 15px;
    background-color: #d8e5fe; 
    text-align: center;
}

.modal-input-select-disabled{
    margin: 10px; 
    max-width: 90%; 
    border-color: #7a87bb; 
    margin-left: 15px;
    background-color: gainsboro; 
    text-align: center;
}